
{{#if-equal param1="archive" param2="content.status"}}
    Archive..
{{/if-equal}}

{{#else-equal param1="archive" param2="content.status"}}

<div class="col-lg-12">
    <div class="box dark">
        <header>
            <div class=""><i class="icon-none"></i></div>
            <h5>Server Informations</h5>
        </header>
        <div id="div-1" class="accordion-body collapse in body">
            <div class="row">

                <div class="form-group">

                    <label class="control-label col-lg-4">Status</label>

                    <div class="col-lg-8">
                        <label {{bind-attr class="alertClass"}}>
                            {{content.status}}
                        </label>
                    </div>

                    <label class="control-label col-lg-4">Server Hostname</label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.name"}} readonly/>
                        </label>
                    </div>


                    <label class="control-label col-lg-4">Memory <i class="hidden fa fa-question-circle tooltipasync" style="cursor: help"></i></label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.size.name"}} readonly/>
                        </label>
                    </div>

                    <label class="control-label col-lg-4">Disk <i class="hidden  fa fa-question-circle tooltipasync" style="cursor: help"></i></label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.size.diskGb"}} readonly/>
                        </label>
                    </div>


                    <label class="control-label col-lg-4">CPU</label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.size.cpu"}} readonly/>
                        </label>
                    </div>




                    <label class="control-label col-lg-4">OS</label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.image_name"}} readonly/>
                        </label>
                    </div>

                    <label class="control-label col-lg-4">IP Address</label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.ipAddress"}} readonly/>
                        </label>
                    </div>
                    <label class="control-label col-lg-4">Private IP Address</label>

                    <div class="col-lg-8">
                        <label class="form-control">
                            <input type="text" class="noborder col-lg-12" width="100%" {{bind-attr value="content.privateIpAddress"}} readonly/>
                        </label>
                    </div>

                    <label class="control-label col-lg-4">Region</label>


                    <div class="col-lg-8">
                        {{regiontextbox-view slugBinding="content.region_slug" region_nameBinding="content.region_name"}}
                    </div>

                    <!-- TODO: add group Tags ... -->
                </div>
            </div>

        </div>

    </div>
</div>
{{/else-equal}}