{{#if controllers.project}}

{{#if controllers.project.ProjectAdmin}}

    <a id="add" class="btn btn-danger btn-lg"  data-target="#create" {{bind-attr-i18n data-original-title="project.create_quota_tooltip"}} data-toggle="collapse">
        <i class="fa fa-plus"></i>
        Add Quota
    </a>
    <br/>
    <div class="row row-fluid col-lg-12">
        <div class="row col-lg-8 text-center">
            PREVIEW ONLY, THIS IS NOT FULLY IMPLEMENTED
        </div>
    </div>


    <div id="create" class="collapse text-grey mediumtopmargin">
        <div class="row">
        {{#if errorMsg}}
            <div class="col-lg-2">
            </div>
            <div class="alert alert-danger col-lg-8">
                <button type="button" {{action clear controller 'errorMsg'}} class="close">×</button>
                <strong> {{i18n "error_alert_prefix"}}&nbsp;&nbsp;</strong>{{errorMsg}}
            </div>
        {{else}}
            <div class="alert">&nbsp;</div>
        {{/if}}
        </div>
        <div class="row row-fluid col-lg-12">
            <div class="row col-lg-8 text-center">
                    <table class="row smalltopmargin col-lg-12 text-grey smallleftpad" >
                        <thead>
                        <th class="row smalltopmargin col-lg-2 text-left"></th>
                        <th class="col-lg-1 text-right"></th>
                        <th class=""></th>
                        </thead>
                        <tr>
                            <td>
                                {{i18n "quota.tag"}}
                            </td>
                            <td>
                                <i class="fa fa-question-circle" {{bind-attr-i18n data-original-title="quota.tag_tooltip"}} data-toggle="tooltip"></i>
                            </td>
                            <td>
                                {{view App.NotEmptyNoSpaceTextField class="form-control focus" isValidOnFocusOutFeedbackMsgBinding="errorMsg" placeholderTranslate="quota.tag_input_placeholder" valueBinding="new_quota_name" elementId="new_quota_name"}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{i18n "quota.compute"}}
                            </td>
                            <td>
                                <i class="fa fa-question-circle" {{bind-attr-i18n data-original-title="quota.compute_tooltip"}} data-toggle="tooltip"></i>
                            </td>
                            <td>
                                {{view App.NumberTextField class="form-control focus" isValidOnFocusOutFeedbackMsgBinding="errorMsg" valueBinding="new_quota_compute" check="positiveOnly" elementId="new_quota_compute"}}
                            </td>
                        </tr>
                    </table>

                <div class="row smalltopmargin col-lg-12 text-grey smallleftpad text-center" >
                    {{i18n "quota.quota_limit_text"}}
                </div>

                <div class="row smalltopmargin col-lg-12 text-grey smallleftpad" >

                    <div class="form-actions row col-lg-12">
                            <div class="col-lg-4">
                                &nbsp;
                            </div>
                                <input {{action cancel}} type="button" class="btn btn-default"  data-target="#create" data-toggle="collapse" value="Cancel"/>

                                <input  {{action add}} class="btn btn-primary" type="button" value="Save"/>
                    </div>


                </div>


            </div>
        </div>

    </div>

    <div class="mediumtopmargin">
        {{quota-table dataBinding="quotas" isLoaded=view.loaded tableId="quotas_table" template_name="components/table/quotatable" clickRoute="project/quota"}}
    </div>

    {{outlet}}

{{else}}
    <div class="collapse text-grey mediumtopmargin">
        <div class="row row-fluid col-lg-12">
            <div class="row col-lg-8 text-center">
                You do not have permission to view this ressource.
            </div>
        </div>
    </div>
{{/if}}
{{/if}}
