<div class="row">

    <br/>

    <div class="col-lg-12">

        <div class="text-center col-lg-8">
            <h3>Select Size</h3>
        </div>

        <div class="row">

            <div class="col-lg-2 text-center">
            </div>
            <div class="col-lg-2 text-right">
            </div>

        </div>
        <div class="row">


            <div class="row col-lg-12 text-center">
                    {{doregionsize-view content="66" type="do"  currsizeBinding="view.currSize" selsizeBinding="view.selectedSize" availableSizesBinding="view.availableSize"}}

                    {{doregionsize-view content="63" type="do"  currsizeBinding="view.currSize" selsizeBinding="view.selectedSize" availableSizesBinding="view.availableSize"}}

                    {{doregionsize-view content="62" type="do"  currsizeBinding="view.currSize" selsizeBinding="view.selectedSize" availableSizesBinding="view.availableSize"}}
            </div>
            <br/>
            <div class="row col-lg-12  text-center">
                    {{doregionsize-view content="64" type="do"  currsizeBinding="view.currSize" selsizeBinding="view.selectedSize" availableSizesBinding="view.availableSize"}}

                    {{doregionsize-view content="65" type="do"  currsizeBinding="view.currSize" selsizeBinding="view.selectedSize" availableSizesBinding="view.availableSize"}}

                    {{doregionsize-view content="61" type="do"  currsizeBinding="view.currSize" selsizeBinding="view.selectedSize" availableSizesBinding="view.availableSize"}}
            </div>
        </div>
    </div>
</div>