<div class="row">

    <br/>

    <div class="col-lg-12">

        <div class="text-center">
            <h3>Select the region</h3>
        </div>

        <div class="row">

            <div class="col-lg-2 text-center">
            </div>
            <div class="col-lg-2 text-right">
            </div>

        </div>
        <div class="row">

            <div id="collapse3" class="accordion-body collapse in body">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-3 text-center">
                    </div>
                    <div class="col-lg-8 text-center">

                     {{#if regionsAvailable.length}}
                        {{#eachIndexed v in regionsAvailable}}

                            {{#if-equal param1=index param2=3}}
                                </div><div class="row">
                            {{/if-equal}}
                            {{#if-equal param1=index param2=6}}
                                </div><div class="row">
                            {{/if-equal}}
                            {{#if-equal param1=index param2=9}}
                                </div><div class="row">
                            {{/if-equal}}
                                {{#if-equal param1=v.slug param2=slug}}
                                    <a class="col-lg-3 text-center quick-btn active" style="height:150px;width:150px">
                                        <span>{{v.name}}</span>
                                        <br/>
                                        <span {{bind-attr class=v.slug}}></span>
                                    </a>
                                {{/if-equal}}

                                {{#else-equal param1=v.slug param2=slug}}
                                    <a class="col-lg-3 text-center quick-btn" {{action selectRegion v}} style="height:150px;width:150px">
                                        <span>{{v.name}}</span>
                                        <br/>
                                        <span {{bind-attr class=v.slug}}></span>
                                    </a>
                                {{/else-equal}}
                            {{!-- else
                                <a data-original-title="Region currently disabled to ensure performance" data-toggle="tooltip" class="quick-btn disabled" {{action disabled}} disabled="disabled" style="height:150px;width:150px">
                                    <span>{{v.name}}</span>
                                    <span>disabled</span>
                                    <span {{bind-attr class=v}}></span>
                                </a>
                            --}}
                        {{/eachIndexed}}
                     {{else}}
                        <div class="col-lg-8 text-left">
                            <br/>
                           No regions available for this API Key.
                        </div>
                     {{/if}}
                    </div>





                </div>


            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>