
{{#equalObject 66 content}}
    {{#if isInREgion}}
        {{#if isNotCurrentSize}}
            {{#if-equal param1=view.selsize param2=66}}
                <a id="size_66" class="quick-btn active" {{action selectSize 66}} style="height:170px;width:170px">
                    {{sizetextbox-view size="66" selsizeBinding="view.selsize"}}
                </a>
            {{/if-equal}}
            {{#else-equal param1=view.selsize param2=66}}
                <a id="size_66" class="quick-btn" {{action selectSize 66}} style="height:170px;width:170px">
                    {{sizetextbox-view size="66" selsizeBinding="view.selsize"}}
                </a>
            {{/else-equal}}
        {{else}}
            <a id="size_66" class="quick-btn disabled disable" data-original-title="This is the current cluster size" data-toggle="tooltip" style="height:170px;width:170px">
                {{sizetextbox-view size="66" selsizeBinding="view.selsize"}}
            </a>
        {{/if}}
    {{else}}
        <a id="size_66" class="quick-btn disabled disable" data-original-title="Size currently disabled to ensure performance" data-toggle="tooltip" style="height:170px;width:170px">
            {{sizetextbox-view size="66" selsizeBinding="view.selsize"}}
        </a>
    {{/if}}
{{/equalObject}}





{{#equalObject 65 content}}
    {{#if isInREgion}}
        {{#if isNotCurrentSize}}
            {{#if-equal param1=view.selsize param2=65}}
                <a id="size_65" class="quick-btn active" {{action selectSize 65}} style="height:170px;width:170px">
                    {{sizetextbox-view size="65" selsizeBinding="view.selsize"}}
                </a>
            {{/if-equal}}
            {{#else-equal param1=view.selsize param2=65}}
                <a id="size_65" class="quick-btn" {{action selectSize 65}} style="height:170px;width:170px">
                    {{sizetextbox-view size="65" selsizeBinding="view.selsize"}}
                </a>
            {{/else-equal}}
        {{else}}
            <a id="size_65" class="quick-btn disabled disable" data-original-title="This is the current cluster size" data-toggle="tooltip" style="height:170px;width:170px">
                {{sizetextbox-view size="65" selsizeBinding="view.selsize"}}
            </a>
        {{/if}}
    {{else}}
        <a id="size_65" class="quick-btn disabled disable" data-original-title="Size currently disabled to ensure performance" data-toggle="tooltip" style="height:170px;width:170px">
            {{sizetextbox-view size="65" selsizeBinding="view.selsize"}}
        </a>
    {{/if}}
{{/equalObject}}





{{#equalObject 64 content}}
    {{#if isInREgion}}
        {{#if isNotCurrentSize}}
            {{#if-equal param1=view.selsize param2=64}}
                <a id="size_64" class="quick-btn active" {{action selectSize 64}} style="height:170px;width:170px">
                    {{sizetextbox-view size="64" selsizeBinding="view.selsize"}}
                </a>
            {{/if-equal}}
            {{#else-equal param1=view.selsize param2=64}}
                <a id="size_64" class="quick-btn" {{action selectSize 64}} style="height:170px;width:170px">
                    {{sizetextbox-view size="64" selsizeBinding="view.selsize"}}
                </a>
            {{/else-equal}}
        {{else}}
            <a id="size_64" class="quick-btn disabled disable" data-original-title="This is the current cluster size" data-toggle="tooltip" style="height:170px;width:170px">
                {{sizetextbox-view size="64" selsizeBinding="view.selsize"}}
            </a>
        {{/if}}
    {{else}}
        <a id="size_64" class="quick-btn disabled disable" data-original-title="Size currently disabled to ensure performance" data-toggle="tooltip" style="height:170px;width:170px">
            {{sizetextbox-view size="64" selsizeBinding="view.selsize"}}
        </a>
    {{/if}}
{{/equalObject}}




{{#equalObject 62 content}}
    {{#if isInREgion}}
        {{#if isNotCurrentSize}}
            {{#if-equal param1=view.selsize param2=62}}
                <a id="size_62" class="quick-btn active" {{action selectSize 62}} style="height:170px;width:170px">
                    {{sizetextbox-view size="62" selsizeBinding="view.selsize"}}
                </a>
            {{/if-equal}}
            {{#else-equal param1=view.selsize param2=62}}
                <a id="size_62" class="quick-btn" {{action selectSize 62}} style="height:170px;width:170px">
                    {{sizetextbox-view size="62" selsizeBinding="view.selsize"}}
                </a>
            {{/else-equal}}
        {{else}}
            <a id="size_62" class="quick-btn disabled disable" data-original-title="This is the current cluster size" data-toggle="tooltip" style="height:170px;width:170px">
                {{sizetextbox-view size="62" selsizeBinding="view.selsize"}}
            </a>
        {{/if}}
    {{else}}
        <a id="size_62" class="quick-btn disabled disable" data-original-title="Size currently disabled to ensure performance" data-toggle="tooltip" style="height:170px;width:170px">
            {{sizetextbox-view size="62" selsizeBinding="view.selsize"}}
        </a>
    {{/if}}
{{/equalObject}}




{{#equalObject 63 content}}
    {{#if isInREgion}}
        {{#if isNotCurrentSize}}
            {{#if-equal param1=view.selsize param2=63}}
                <a id="size_63" class="quick-btn active" {{action selectSize 63}} style="height:170px;width:170px">
                    {{sizetextbox-view size="63" selsizeBinding="view.selsize"}}
                </a>
            {{/if-equal}}
            {{#else-equal param1=view.selsize param2=63}}
                <a id="size_63" class="quick-btn" {{action selectSize 63}} style="height:170px;width:170px">
                    {{sizetextbox-view size="63" selsizeBinding="view.selsize"}}
                </a>
            {{/else-equal}}
        {{else}}
            <a id="size_63" class="quick-btn disabled disable" data-original-title="This is the current cluster size" data-toggle="tooltip" style="height:170px;width:170px">
                {{sizetextbox-view size="63" selsizeBinding="view.selsize"}}
            </a>
        {{/if}}
    {{else}}
        <a id="size_63" class="quick-btn disabled disable" data-original-title="Size currently disabled to ensure performance" data-toggle="tooltip" style="height:170px;width:170px">
            {{sizetextbox-view size="63" selsizeBinding="view.selsize"}}
        </a>
    {{/if}}
{{/equalObject}}





{{#equalObject 61 content}}
    {{#if isInREgion}}
        {{#if isNotCurrentSize}}
            {{#if-equal param1=view.selsize param2=61}}
                <a id="size_61" class="quick-btn active" {{action selectSize 61}} style="height:170px;width:170px">
                    {{sizetextbox-view size="61" selsizeBinding="view.selsize"}}
                </a>
            {{/if-equal}}
            {{#else-equal param1=view.selsize param2=61}}
                <a id="size_61" class="quick-btn" {{action selectSize 61}} style="height:170px;width:170px">
                    {{sizetextbox-view size="61" selsizeBinding="view.selsize"}}
                </a>
            {{/else-equal}}
        {{else}}
            <a id="size_61" class="quick-btn disabled disable" data-original-title="This is the current cluster size" data-toggle="tooltip" style="height:170px;width:170px">
                {{sizetextbox-view size="61" selsizeBinding="view.selsize"}}
            </a>
        {{/if}}
    {{else}}
        <a id="size_61" class="quick-btn disabled disable" data-original-title="Size currently disabled to ensure performance" data-toggle="tooltip" style="height:170px;width:170px">
            {{sizetextbox-view size="61" selsizeBinding="view.selsize"}}
        </a>
    {{/if}}
{{/equalObject}}


